{% extends 'base.html.twig' %}


{% block body %}
    <h1>Tworzenie news'a</h1>
    {% form_theme form 'form/szablonform.html.twig' %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
    <ul>
        <li>
        <input class="btn btn-default" type="submit" value="Wyślij" />
    {{ form_end(form) }}
        </li>
            </br>
            <li>
            <a class="btn btn-default"  href="{{ path('admin_news_index') }}">Powrót do listy</a>
            </li>
    </ul>
{% endblock %}
